---
import Foldshelf from "../../components/Foldshelf.astro";
import Footer from "../../components/Footer.astro";
import Form from "../../components/Form.astro";
import Header from "../../components/Header.astro";
import Knap from "../../components/Knap.astro";
import Prodshelf from "../../components/Prodshelf.astro";
import "../../styles/style.css";

export async function getStaticPaths() {
  const url = "https://fttrpxvnwfswdwvtcifh.supabase.co/rest/v1/stock";

  const options = {
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0dHJweHZud2Zzd2R3dnRjaWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTgwMzcsImV4cCI6MTk5OTk3NDAzN30.jiQY1R9_4xH6PJgdeCvhKQKRA6bfCLB2ciJOBVzotc4",
    },
  };

  const respons = await fetch(url, options);
  const data = await respons.json();

  return data.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

const { item } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />

    <title>{item.name}</title>
  </head>

  <body>
    <Header />

    <main>
      <div class="header">
        <img src={"../../img/" + item.img1 + ".webp"} alt={item.name + " " + item.type} />
        <h1>
          <span>
            {item.name.slice(0, 1)}
          </span>

          <span>
            {item.name.slice(1, 2)}
          </span>
          <span>
            {item.name.slice(2, 3)}
          </span>

          <span>
            {item.name.slice(3, 4)}
          </span>

          <span>
            {item.name.slice(4, 5)}
          </span>

          <span>
            {item.name.slice(5, 6)}
          </span>

          <span>
            {item.name.slice(6, 7)}
          </span>

          <span>
            {item.name.slice(7, 8)}
          </span>

          <span>
            {item.name.slice(8, 9)}
          </span>

          <span>
            {item.name.slice(9, 10)}
          </span>

          <span>
            {item.name.slice(10, 11)}
          </span>
          <span>
            {item.name.slice(11, 12)}
          </span>
          <span>
            {item.name.slice(12, 13)}
          </span>
          <span>
            {item.name.slice(13, 14)}
          </span>
          <span>
            {item.name.slice(14, 15)}
          </span>
          <span>
            {item.name.slice(15, 16)}
          </span>
          <span>
            {item.name.slice(16, 17)}
          </span>


{
  item.second_name &&(
  <span class="space"> </span>
          <span>
            {item.second_name.slice(0, 1)}
          </span>

          <span>
            {item.second_name.slice(1, 2)}
          </span>
          <span>
            {item.second_name.slice(2, 3)}
          </span>

          <span>
            {item.second_name.slice(3, 4)}
          </span>

          <span>
            {item.second_name.slice(4, 5)}
          </span>

          <span>
            {item.second_name.slice(5, 6)}
          </span>

          <span>
            {item.second_name.slice(6, 7)}
          </span>

          <span>
            {item.second_name.slice(7, 8)}
          </span>

          <span>
            {item.second_name.slice(8, 9)}
          </span>

          <span>
            {item.second_name.slice(9, 10)}
          </span>

          <span>
            {item.second_name.slice(10, 11)}
          </span>
          <span>
            {item.second_name.slice(11, 12)}
          </span>
          <span>
            {item.second_name.slice(12, 13)}
          </span>
          <span>
            {item.second_name.slice(13, 14)}
          </span>
          <span>
            {item.second_name.slice(14, 15)}
          </span>
          <span>
            {item.second_name.slice(15, 16)}
          </span>
          <span>
            {item.second_name.slice(16, 17)}
          </span> )
}

         
        </h1>
      </div>
      <section class="content computer">
        <div class="img_container">
          {item.img2 && <img src={"../../img/" + item.img2 + ".webp"} alt={item.name + " " + item.type} />}

          {item.img3 && <img src={"../../img/" + item.img3 + ".webp"} alt={item.name + " " + item.type} />}
          {item.img4 && <img src={"../../img/" + item.img4 + ".webp"} alt={item.name + " " + item.type} />}
        </div>
        <div class="info">
          <div class="indhold">
            <div class="top">
              <h4>{item.type}</h4>
            </div>
            {/* Betinget rendering baseret på værdien af second_name */}
            {item.second_name ? <h2 >{item.name + " " + item.second_name}</h3> : <h2 >{item.name}</h3>}

            <h3>{item.price + " DKK"}</h3>

            <div class="size">
              <p>Size</p>
              <p>{item.size}</p>
            </div>

            {
              item.materiale && (
                <div class="text">
                  <p>Materials</p>
                  <p>{item.materiale}</p>
                </div>
              )
            }
            {
              item.sten && (
                <div class="text">
                  <p>Stone</p>
                  <p>{item.sten}</p>
                </div>
              )
            }
            {
              item.text && (
                <div class="text">
                  <p>Description</p>
                  <p>{item.text}</p>
                </div>
              )
            }
          </div>
          <div class="shop">
            <Knap color="blue" text="shop" link="/ordered" />
            <a href="#form">
              <p class="custom">Or get your own custom piece</p>
            </a>
          </div>
        </div>
      </section>



      <section class="content phone">

      
        <div class="img_container">
          {item.img2 && <img src={"../../img/" + item.img2 + ".webp"} alt={item.name + " " + item.type} />}

          {item.img3 && <img src={"../../img/" + item.img3 + ".webp"} alt={item.name + " " + item.type} />}
          {item.img4 && <img src={"../../img/" + item.img4 + ".webp"} alt={item.name + " " + item.type} />}
        </div>
            <div class="indhold">
            <div class="top">
              <h4>{item.type}</h4>
            </div>

            <h2>{item.name + " " + item.second_name}</h2>
            <h3>{item.price + " DKK"}</h3> 
        

        <div class="info">
          <h3>Info</h3>

            <div class="size">
              <p>Size</p>
              <p>{item.size}</p>
            </div>

            {
              item.materiale && (
                <div class="text">
                  <p>Materials</p>
                  <p>{item.materiale}</p>
                </div>
              )
            }
            {
              item.sten && (
                <div class="text">
                  <p>Stone</p>
                  <p>{item.sten}</p>
                </div>
              )
            }
            {
              item.text && (
                <div class="text">
                  <p>Description</p>
                  <p>{item.text}</p>
                </div>
              )
            }

         
        </div>
       
      </div>
      <div class="shop">
        <Knap color="blue" text="shop" link="/ordered" type="phone" />

      </div>
      </section>
      <section id="form">
        <Form />
      </section>
      <section class="products">
        <Prodshelf text="Maybe you would like these" />
      </section>
    </main>
    <Footer />
  </body>
</html>

<style>
  .products {
    padding-top: 5rem;
  }

  .size {
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
    margin-top: 2rem;
  }
  .indhold {
    padding-bottom: 2rem;
  }
  .text {
    border-bottom: 1px solid var(--black);
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem 1rem 0rem;
    width: 100%;
  }
  .text p {
    max-width: 32ch;
    text-align: right;
  }

  main {
    padding-bottom: 100px;
  }
  .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
  }
  .img_container {
    overflow: hidden;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/5;
  }

  .img_container img {
    height: 700px;
  }

  #form {
    padding-top: 10rem;
  }
  .header {
    overflow: hidden;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
  }
  .header img {
    position: relative;
    z-index: 1;
    grid-area: 1/1;
    width: 100%;
    opacity: 80%;
  }

  h1 {
    position: relative;
    display: flex;
    gap: 0rem;
  }
  span {
    position: relative;
    opacity: 0;
    transform: rotate(90deg);
    animation: letterup 0.75s forwards;
  }

  .space {
    min-width: 50px;
    min-height: 20px;
  }

  span:nth-child(2) {
    animation-delay: 0.05s;
  }
  span:nth-child(3) {
    animation-delay: 0.1s;
  }
  span:nth-child(4) {
    animation-delay: 0.15s;
  }
  span:nth-child(5) {
    animation-delay: 0.2s;
  }
  span:nth-child(6) {
    animation-delay: 0.25s;
  }
  span:nth-child(7) {
    animation-delay: 0.3s;
  }
  span:nth-child(8) {
    animation-delay: 0.35s;
  }
  span:nth-child(9) {
    animation-delay: 0.4s;
  }
  span:nth-child(10) {
    animation-delay: 0.45s;
  }
  span:nth-child(11) {
    animation-delay: 0.5s;
  }
  span:nth-child(12) {
    animation-delay: 0.55s;
  }
  span:nth-child(13) {
    animation-delay: 0.6s;
  }
  span:nth-child(14) {
    animation-delay: 0.65s;
  }
  span:nth-child(15) {
    animation-delay: 0.7s;
  }
  span:nth-child(16) {
    animation-delay: 0.75s;
  }
  span:nth-child(17) {
    animation-delay: 0.8s;
  }

  span:nth-child(19) {
    animation-delay: 0.5s;
  }
  span:nth-child(20) {
    animation-delay: 0.55s;
  }
  span:nth-child(21) {
    animation-delay: 0.6s;
  }
  span:nth-child(22) {
    animation-delay: 0.65s;
  }
  span:nth-child(23) {
    animation-delay: 0.7s;
  }
  span:nth-child(24) {
    animation-delay: 0.75s;
  }
  span:nth-child(25) {
    animation-delay: 0.8s;
  }
  span:nth-child(26) {
    animation-delay: 0.85s;
  }
  span:nth-child(27) {
    animation-delay: 0.9s;
  }


  @keyframes letterup {
    0% {
      bottom: -20rem;
      transform: rotate(90deg);
      opacity: 1;
    }

    100% {
      bottom: 0;
      transform: rotate(0deg);
      opacity: 1;
    }
  }

  .header h1 {
    z-index: 2;
    grid-area: 1/1;
    color: var(--secondarycolor);
  }

  .top h3 {
    margin-bottom: -0.5rem;
    color: var(--black);
  }

  .info {
    padding: 2rem 2rem 1rem 2rem;
    grid-row: 1/3;
    grid-column: 2/3;
    position: sticky;
    top: 80px;
  }

  .custom {
    margin-top: 1rem;
    font-size: 0.7rem;
    cursor: pointer;
  }

  .custom:hover {
    text-decoration: underline;
  }
  a {
    text-decoration: none;
  }
  .phone{
    display: none;
  }
  @media (max-width: 800px) {
    .computer{
      display: none;
    }
    .phone{
    display: block;
  }


 
    .header {
      height: 260px;

    }
    .img_container img {
      width: 100%;
      height: auto;

    }
    .indhold{
      margin-left: 1rem;
      margin-top: 1rem;
      padding-bottom: 1rem;

    }
    .size {
      margin-top: 0;
    }
    .info{
      padding: 0;

      margin-right: 1rem;
margin-top: 1rem;
      position: inherit;

    }
    .shop{
position: sticky;
bottom: 1rem;

display: flex;
margin-left: 1rem;
margin-right: 1rem;
    }

#form{
  padding-top: 0rem;
  margin-top: 4rem;
}



  }
</style>
