---
import Footer from "../components/Footer.astro";
import Form from "../components/Form.astro";
import Header from "../components/Header.astro";
import Order from "../components/Order.astro";
import Prodshelf from "../components/Prodshelf.astro";
import "../styles/style.css";

const url = "https://fttrpxvnwfswdwvtcifh.supabase.co/rest/v1/stock";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0dHJweHZud2Zzd2R3dnRjaWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTgwMzcsImV4cCI6MTk5OTk3NDAzN30.jiQY1R9_4xH6PJgdeCvhKQKRA6bfCLB2ciJOBVzotc4";

const respons = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const data = await respons.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <Header />
  <main>
    <h1>Handcrafted Artwear</h1>
    <h3>by cehofski</h3>

    {
      data.map((item) => {
        return (
          <Prodshelf
            text="the rings we have in stock"
            name={item.name}
            info={item.text}
            img1={"../../img/" + item.img1 + ".jpg"}
            img2={"../../img/" + item.img2 + ".jpg"}
            img3={"../../img/" + item.img3 + ".jpg"}
            img4={"../../img/" + item.img4 + ".jpg"}
            price={item.price}
            type={item.type}
            id={"/undersider/" + item.id}
            materials={item.materiale}
            sten={item.sten}
          />
        );
      })
    }

    <Prodshelf text="the rings we have in stock" />
    <Prodshelf text="Our favorites" />
    <Prodshelf text="rings from previous work" />
    <Order />
    <h2>Noget</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium itaque ad hic sed fugiat! Dolore quae unde, laboriosam veniam optio voluptates dolorum rem quos in, voluptatibus, dolores
      ullam impedit consequuntur. Saepe, consequatur necessitatibus voluptatibus iure molestias aspernatur ab temporibus libero nobis illo. Adipisci, aliquid qui delectus rerum eveniet optio nemo
      quaerat saepe? Neque nihil molestias iusto itaque. Blanditiis, dicta cumque. Explicabo at beatae atque eligendi tempore vel cumque minus odit! Aperiam veritatis odit impedit fugiat non labore,
      asperiores nam molestiae recusandae iusto corrupti dolores vero pariatur adipisci nulla rem minima! Dolores magni doloremque ipsam consequatur suscipit quos nulla, adipisci dolorum optio
      perspiciatis accusantium ex sed natus dolore animi quis quod. Sint libero, quidem in rerum porro consequatur obcaecati dolores facilis. Fugit alias corrupti ex necessitatibus eveniet obcaecati
      velit dignissimos amet blanditiis ea voluptates ratione reprehenderit et tempore, distinctio totam non minus nostrum numquam debitis placeat beatae incidunt iusto ut. Tempore. Molestias placeat
      dolore excepturi dignissimos eius ipsam voluptatem, quibusdam, corrupti id quo neque est, reiciendis quas. Maxime cupiditate nostrum neque laudantium sint aliquam voluptate, ab necessitatibus
      quia molestiae architecto a. Commodi eveniet harum illum voluptatum minima ad expedita, esse natus vitae ullam quibusdam molestias, voluptas laborum libero nesciunt, dignissimos optio? Tempore
      vitae possimus ratione. Sint sequi sapiente est molestias laborum. Blanditiis eaque vero inventore tempore minus officia, veritatis eveniet porro veniam fugit modi mollitia sed quos?
      Consectetur, a! Quam totam sint harum nesciunt perspiciatis dicta, facilis excepturi amet quo ipsam? Facilis soluta, ut ipsum adipisci earum ullam amet deleniti minima hic blanditiis ex
      perferendis saepe dolore ad consectetur omnis repellendus porro harum est perspiciatis. Recusandae repellendus culpa odio repudiandae nobis. Voluptate error sunt corporis, mollitia recusandae
      aliquam illum asperiores reiciendis eum esse, velit eligendi, dolore reprehenderit quidem expedita ex. Cumque fugit delectus expedita libero sed sint dolor ea placeat accusantium.
    </p>
    <Form />
  </main>
  <Footer />

  <style>
    main {
      margin-top: 75px;
    }
    h1 {
      margin-left: 1rem;
    }
    h3 {
      margin-left: 1rem;
    }
  </style>


</html>
