---
import Card from "./Card.astro";
const { text, name, info, img1, img2, img3, img4, price, type, id, materials, sten } = Astro.props;
const url = "https://fttrpxvnwfswdwvtcifh.supabase.co/rest/v1/stock";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ0dHJweHZud2Zzd2R3dnRjaWZoIiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQzOTgwMzcsImV4cCI6MTk5OTk3NDAzN30.jiQY1R9_4xH6PJgdeCvhKQKRA6bfCLB2ciJOBVzotc4";

const respons = await fetch(url, {
  method: "GET",
  headers: {
    apikey: key,
    Accept: "application/json",
    "Content-Type": "application/json",
  },
});
const data = await respons.json();
---

<div class="outer">
  <div class="inner">
    <h2>{text}</h2>
    <div class="card">
      {
        data.map((item) => {
          return (
            <Card
              text="the rings we have in stock"
              name={item.name}
              second_name={item.second_name}
              info={item.text}
              img1={"../../img/" + item.img1 + ".webp"}
              img2={"../../img/" + item.img2 + ".webp"}
              img3={"../../img/" + item.img3 + ".webp"}
              img4={"../../img/" + item.img4 + ".webp"}
              price={item.price}
              type={item.type}
              id={"/undersider/" + item.id}
              materials={item.materiale}
              sten={item.sten}
            />
          );
        })
      }
    </div>
  </div>
</div>
<style>
  div {
    display: flex;
  }
  h2 {
    min-width: 20rem;
    margin: 1rem;
  }

  .inner {
    display: flex;
  }

  .outer {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  @media (max-width: 800px) {
    h2 {
      min-width: 12rem;
      margin-right: -5rem;
    }
    .card {
      margin-left: 7rem;
    }
  }
</style>
